{% extends "portfolio/base.html" %}
{% block content %}
	<div class="project-container">
		<a class="back-btn" href="{% url 'all-projects' %}">
			<i class="far fa-chevron-left"></i>
			<p>Back</p>
		</a>
		<h1>{{ project.title }}
			<!-- <span class="copy-btn" data-clipboard-text="http://localhost:8000/projects/1">
    			<i class="fal fa-clipboard"></i>
			</span> -->
		</h1>
		<div class="project-date">{{ project.date_created|date:"F d, Y" }}</div>
		<img src="{{ project.image }}" alt="">
		<div class="project-content">
    		{{ project.content|safe }}
    	</div>
	</div>
{% endblock content %}